* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100vw;
  height: 15vh;
  background-color: white;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  box-shadow: 0 0 20px rgba(102, 51, 153, 0.637);
  position: absolute;
  top: 0;
  padding: 10px 80px;
}
.logo {
  z-index: 2;
  height: 120px;
  width: 120px;
  cursor: pointer;
  background-image: url("../img/logo-black.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  align-items: center;
}
.title {
  padding: 10px 0;
  color: #134077;
}
.card {
  display: flex;
  flex-direction: column;
  background: white;
  width: 40%;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.817);
}
.card form {
  display: flex;
  flex-direction: column;
  line-height: 10px;
}
.card input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 0;
  border-bottom: 1px solid black;
}
.card input::placeholder {
  opacity: 0.5;
  transition: padding 0.5s;
}
.card input:hover::-webkit-input-placeholder,
.card input:focus::-webkit-input-placeholder {
  padding-left: 10%;
}

.card label {
  padding: 10px;
}

.card a {
  margin-top: 20px;
  font-size: 0.7rem;
  color: black;
  text-align: center;
}
.events {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.event {
  display: flex;
  flex-direction: column;
  background: white;
  width: 300px;
  height: 150px;
  padding: 30px;
  margin: 30px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.817);
  justify-content: center;
  line-height: 30px;
}
.event p {
  opacity: 0.3;
}
button {
  padding: 10px;
  border-radius: 10px;
  border: 0;
  margin-top: 20px;
  color: white;
  background: #0057ff;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
